body {
    font-family: 'Arial', sans-serif;
    background-color: #ff5e5e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #5a0000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 246, 246, 0.2);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ffffff;
}

#app {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    border-radius: 30px;
    box-shadow: none;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 20px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
}

.delete-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.update-btn {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
